<ul class="nav pcoded-inner-navbar ">
  <li class="nav-item pcoded-menu-caption">
    <label>Navigation</label>
  </li>
  <li class="nav-item">
    <a href="/" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
  </li>

  <li class="nav-item pcoded-menu-caption">
    <label>UI Element</label>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('bc_typography') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-box"></i></span><span class="pcoded-mtext">Typography</span></a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('icon_feather') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
  </li>
  <li class="nav-item pcoded-menu-caption">
    <label>table</label>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('tbl_bootstrap') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Bootstrap table</span></a>
  </li>
  <li class="nav-item pcoded-menu-caption">
    <label>Chart & Maps</label>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('chart_apex') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('map_google') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
  </li>
  <li class="nav-item pcoded-menu-caption">
    <label>Pages</label>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('user_profile') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-user"></i></span><span class="pcoded-mtext">User Profile</span></a>
  </li>
  <li class="nav-item pcoded-hasmenu">
    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
        class="pcoded-mtext">Authentication</span></a>
    <ul class="pcoded-submenu">
      <li><a href="{{ url_for('acc_auth_signup') }}" target="_blank">Sign up</a></li>
      <li><a href="{{ url_for('acc_auth_signin') }}" target="_blank">Sign in</a></li>
    </ul>
  </li>
  <li class="nav-item pcoded-menu-caption">
    <label>Other</label>
  </li>
  <li class="nav-item pcoded-hasmenu">
    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
        class="pcoded-mtext">Menu levels</span></a>
    <ul class="pcoded-submenu">
      <li><a href="#">Menu Level 2.1</a></li>
      <li class="pcoded-hasmenu">
        <a href="#">Menu level 2.2</a>
        <ul class="pcoded-submenu">
          <li><a href="#">Menu level 3.1</a></li>
          <li><a href="#">Menu level 3.2</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item"><a href="{{ url_for('sample_page') }}" class="nav-link "><span class="pcoded-micon"><i
          class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

</ul>