{% extends 'layouts/auth_base.html' %}
{% load static %}
{% block content %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{% static 'assets/images/logo-dark.png' %}" alt="" class="img-fluid mb-4">
						{% comment %} <h4 class="mb-3 f-w-400">Signin</h4> {% endcomment %}
						<form method="post">
              {% csrf_token %}
              
              {% for field in form %}
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="feather icon-mail"></i>
                </span>
                {{field}}
              </div>
              {% endfor %}
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock content %}
