{% extends 'layouts/auth_base.html' %}
{% block content %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{url_for('static', filename='assets/images/logo-dark.png')}}" alt="" class="img-fluid mb-4">
						<form method="post">
              <div class="input-group mb-3">
								<span class="input-group-text"><i class="feather icon-mail"></i></span>
								<input type="email" class="form-control" placeholder="Email address">
							</div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock content %}
